.modal-body {
  align-items: flex-start !important;
}

.block-pic {
  height: auto;
  width: 100%;
  top: 133px;
  left: 12px;
  border-radius: 8px;
}

.block-pic-icon {
  position: relative;
}

.block-icon {
  width: 50px !important;
  height: 50px !important;
  z-index: 1024 !important;
  position: absolute !important;
  top: 4px;
  right: 4px;
  font-size: 20px !important;
  cursor: pointer !important;
}

.block-icon.unlike {
  color: #fff;
}

.block-icon.like {
  color: red;
}

.modal-title {
  font-family: "Source Sans Pro";
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 28px !important;
  letter-spacing: 0em;
  text-align: left;
}

.image-title {
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.image-count {
  border-left: 3px solid #ffbe26;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
}
