$primary: #414063;
$font-family-base: 'Poppins';
$enable-responsive-font-size: true;
$enable-transitions: true;
$enable-rounded: true;
$enable-shadows: true;
$font-size: '14px';

@import "~bootstrap/scss/bootstrap.scss";