.dropdown_title.default_selection {
    background-color: white;
    font-size: 12px;
    font-weight: 400;
    color: rgba(204, 204, 204, 0.8);
    border: none;
    border-radius: 4px;
    padding: 12px 20px 12px 20px;
    width: 160px;
}

.dropdown_title {
    background-color: white;
    font-size: 12px;
    font-weight: 400;
    color: #1C1B1F;
    border: none;
    border-radius: 4px;
    padding: 12px 20px 12px 20px;
    width: 160px;
}

.dropdown_item {
    background-color: white;
    width: 160px;
    border: none;
}

.dropdown_item_text {
    font-size: 16px;
    font-weight: 400;
    color: rgba(28, 27, 31, 1);
    cursor: pointer;
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}