.bg-img-container {
  background-image: url("../../assets/images/modern-kitchen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
}


.mw-900 {
  max-width: 900px;
}

.step_bar {
  position: relative;
  top: 40px;
  width: 650px;
}

.step_flow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.step_number {
  font-size: 26px;
  font-weight: 600;
  color: #FFFFFF;
  position: absolute;
  left: 20px;
  top: 11px;
}

.step_text {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}